electron_mirror=https://npmmirror.com/mirrors/electron/
electron_custom_dir={{version}}
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/
registry=https://registry.npmmirror.com
disturl=https://npmmirror.com/dist
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
puppeteer_download_host=https://npmmirror.com/mirrors
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
node_inspector_cdnurl=https://npmmirror.com/mirrors/node-inspector/
sentrycli_cdnurl=https://npmmirror.com/mirrors/sentry-cli/
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/
